.weather-details-ctn {
  width: 100%;
  .weather-detail-information {
    padding: 20px;
    .city-country {
      font-weight: 700;
      font-size: 20px;
    }
    .time-overall-weather {
      color: #666666;
      font-size: 14px;
      span {
        &:last-child {
          text-transform: capitalize;
        }
      }
    }
    .weather-temp-wind {
      display: flex;
      align-items: start;
      .weather-temperature {
        display: flex;
        align-items: center;
        &,
        .wind-humid-air {
          width: 50%;
        }
        img {
          width: 70px;
        }
        .temperature-number-ctn {
          display: flex;
          .temperature-number {
            font-weight: 700;
            font-size: 44px;
            margin: 0 !important;
          }
          .farenheit-celcius {
            font-weight: 700;
            margin: 7px;
            font-size: 14px;
            span {
              color: #8c8c8c;
              &.active {
                color: black;
                text-decoration: underline;
              }
              &:nth-child(2) {
                color: black;
                margin: 0 5px;
              }
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
      }
      .wind-humid-air {
        p {
          font-size: 14px;
        }
      }
    }
    .daily-forecast-list {
      display: flex;
    }
  }
}
